/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
     
    background: radial-gradient(circle, #fff, #eee, #ccc, #747373); 
    
  
}
.container-title{
width: 300px;
height: 300%;


}
.center{

font-size: 8rem;
}


.post-it {
width: 700px;
height: 700px;
background: #ffd700; 
padding: 15px;
font-family: 'Comic Sans MS', cursive, sans-serif; 
font-size: 1.2rem;
box-shadow: 
    2px 2px 5px rgba(0, 0, 0, 0.3),
    5px 5px 0px 0px rgba(0, 0, 0, 0.1); 
transform: rotate(2deg); 
position: relative;
margin: auto;
overflow-y: auto;
}


.post-it::after {
content: "";
position: absolute;
bottom: 0;
right: 0;
width: 0;
height: 0;
border-style: solid;
border-width: 15px 15px 0 0;
border-color: #e6c200 transparent transparent transparent;
}
.boton{
opacity: 0;
transition:opacity 0.3s ease;
}

.boton:hover{
   opacity:1;
}

